<div class="wrapper wrapper_padding clearfix">
  <div class ="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>Hi! I am John Un, an aspiring coder on my personal journey to the programming promise land.</p>
    <p>This journal is to document my learning as it is happening in real time. Many great blogs and articles out there that detailed how they learned programming and what resources they used AFTER they achieved a certain level of mastery or skill. This journal will hopefully give more insight into the process as a reference, to document my thought process and inner battles along the way, the doubts and thoughts of giving up, to look back on and see how far i have come in the hopefully not too distant future, and also to keep myself accountable. I have always found myself dabbling in new ventures but failing to give it my all and following through with all my heart. Hopefully by documenting the entire process, i can see the journey more clearly for myself, see how much effort i have put in, and push myself to keep going.</p>
    <p>Please say <a href="#"><%= link_to "hello", new_contact_path %></a> if you stumble upon this site as the journey can be lonely sometimes.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Logs</h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>

  </div>
  
  <div class="col-3 homepage_content">
    <h2>Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
  </div>
</div>