<div class="wrapper wrapper_padding clearfix">
  <div class ="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>Hi! This is John, and welcome to my blog!</p>
    <p>This is where you can keep tabs on my life as an aspiring programmer. I try my best to document my learning journey in complete detail and transparency. Join me as I try to follow in the footsteps of all the great coders that have come before me. </p>
    <p>In the past, I have always found myself dabbling in new ventures but failing to give it my all and following through with all my heart. This journal is my attempt to buck the trend, keep myself accountable, and spill everything - my thoughts, my doubts, my fears, and my inner struggles.</p>
    <p>Hopefully by documenting this entire process, I can see the journey more clearly for myself, see how much effort I have put in, and push myself to keep going. Maybe one day, I'll be able to look back, see how far I have come, and give myself a pat on the back. But until then, the journey continues...</p>
    <p>Please say <a href="#"><%= link_to "hello", new_contact_path %></a> if you stumble upon this blog as the journey can be lonely sometimes. And who knows...you might be witnessing history in the making. Heh. </p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Logs</h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>

  </div>
  
  <div class="col-3 homepage_content">
    <h2>Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
  </div>
</div>