<!DOCTYPE html>
<html>
<head>
  <title>John Un</title>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: "partials/google_analytics" %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "John Un", root_path, class: "name" %>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Posts", posts_path %>
      <%= link_to "Say Hello", new_contact_path %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%= link_to "Projects", projects_path %> 
        <%# Project Page hidden until I have more projects to showcase. %>
      <% end %>
    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  
<%= yield %>

<footer id="main_footer">
    <p class="copyright">&copy; 2016 John Un</p>
    <nav>
      <a href="http://twitter.com/john_un" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://facebook.com/johnunz" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="http://github.com/johnun" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>
<%= render partial: "partials/google_analytics_pageview" %>
</body>
</html>
